################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnityFrameworkCore/.vs/EnityFrameworkCore/v15
/EnityFrameworkCore/EnityFrameworkCore/obj/Debug
/EnityFrameworkCore/EnityFrameworkCore/bin/Debug
/EnityFrameworkCore/packages
/EnityFrameworkCore/EnityFrameworkCore/EnityFrameworkCore.csproj.user
